

.Navbar {
    display: flex;
    height: 100%;

    box-sizing: border-box;
   justify-content: space-between;
   align-items: center;
   background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgb(28, 103, 184) 90% );
   padding: 15px;
   width: 100%;
}

.Navbar > .n_left {
    display: flex;
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: flex-start;
}



.Navbar > .n_center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    font-size: 20px;
    font-weight: 600;
    color: rgb(220, 226, 160);
    text-shadow: 1px 2px #000000 ;
    animation: inout  20s infinite;
   
    /* font-family: 'Bungee Spice', cursive; */
    
}

.Navbar > .n_right {
    display: flex;
    height: 100%;
    width: 35%;    
    padding: 7px;
    gap: 17px;
    justify-content: flex-end;
    align-items: center;
}


.Navbar > .n_right > .rotate {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @keyframes inout {
    0%, 90% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }

  }

.Navbar > .n_left > .rotate {

    animation: rotation 3s infinite linear;
}

.Navbar > .n_left > img {
    height: 100%;

}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }