.Coupons {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
   overflow-y: auto;
}

.Coupons  a {
    
    display: flex;
    text-decoration: none;
    font-size: large;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 450px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 13, 114);
    background: linear-gradient(rgb(251, 250, 171), rgb(121, 255, 175));
    padding: 0 15px;
    font-weight: 600;
}

.Coupons > a:hover {
    /* background: radial-gradient(white, rgb(251, 240, 177)); */
    box-shadow: 0 6px 10px 0 rgb(0, 0, 0);
   
    transition: all 0.3s;
    
}

.Coupons > a:active {
    transition: all 0.5s;
    
    transform: scale(0.98);
}

.filterSelectors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}



.Coupons > button:active {
    transition: all 0.5s;
    
    transform: scale(0.98);
}